<div class="container">
  <h1>SpaceX Mission List</h1>

  <div class="search-container">
    <input type="text" [(ngModel)]="filterYear" placeholder="Enter year to filter" (input)="filterLaunchesByYear()">
  </div>

  <div *ngIf="launches.length > 0; else noFlightsMessage" class="flex justify-between items-center">
    <div *ngFor="let launch of launches" class="mission-container">
      <div class="mission-patch">
        <img [src]="launch.links.mission_patch_small" alt="Mission Patch" width="200">
      </div>
      <div class="mission-info">
        <h3 class="mission-name">Mission - {{ launch.mission_name }}</h3>
        <p class="launch-year"><strong>Launch Year:</strong> {{ launch.launch_year }}</p>
        <p class="mission-details"> {{ launch.details }}</p>
        <br>
        <a class="show-details" [routerLink]="['/missiondetails', launch.flight_number]">Show Details</a>
      </div>
    </div>
  </div>
  <ng-template #noFlightsMessage>
    <h2>No flights were made in the entered year.</h2>
  </ng-template>
</div>

