/* Style for the container */
.spaceX-container {
  text-align: center; /* Align text center */
  padding: 5rem; /* Add padding */
}

.title{
  color: black; /* Set text color */
  font-size: 3rem; /* Set font size */
  margin-bottom: 2rem; /* Add margin */
  text-align: center;
}

/* Style for the mission details container */
.mission-details-container {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  border: 4px solid #040b1c; /* Add border */
  background-color: #bb4c4c; /* Set background color */
  padding: 1rem; /* Add padding */
  margin: 1rem; /* Add margin */
  border-radius: 0.5rem; /* Add border radius */
}

/* Style for the mission patch image */
.mission-patch {
  width: 500px; /* Set width */
}

/* Style for the mission details */
.mission-info {
  padding-left: 1rem; /* Add padding to the left */
}

/* Style for headings */
h1, h2 {
  color: white; /* Set text color */
}

/* Style for strong tags */
strong {
  font-size: 2.5rem; /* Set font size */
}

/* Style for paragraphs */
p {
  margin: 0.5rem 0; /* Add margin */
  color: #ddd; /* Set text color */
  font-size: 1.5rem; /* Set font size */
}
