<h1 class="title">SpaceX Mission Details</h1>
<div class="mission-details-container">
  <img class="mission-patch" [src]="launch?.links?.mission_patch_small" alt="mission_patch"/>

  <div class="mission-info">
    <h1><strong>Mission - {{launch?.mission_name}}</strong></h1>
    <h2>Launch Year: {{launch?.launch_year}}</h2>
    <br/>
    <h2>Rocket</h2>
    <p>Name: {{launch?.rocket?.rocket_name}}</p>
    <p>Type: {{launch?.rocket?.rocket_type}}</p>
    <br/>
    <h2>Launch Site</h2>
    <p>Location: {{launch?.launch_site?.site_name_long}}</p>
    <br/>
    <h2>Launch Details</h2>
    <p>{{launch?.details}}</p>
    <br/>
    <!-- Back button -->
    <button (click)="goBack()">Back</button>
  </div>
</div>
